@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
@font-face {
    font-family: 'The Nautigal';
    src: url(https://fonts.gstatic.com/s/thenautigal/v3/VdGGAZ8ZH51Lvng9fQV2bfKTWypw0_WD3Lo.woff2) format('woff2'),
     url(https://fonts.gstatic.com/s/thenautigal/v3/VdGGAZ8ZH51Lvng9fQV2bfKTWypw0vWD3Lo.woff2) format('woff2'),
     url(https://fonts.gstatic.com/s/thenautigal/v3/VdGGAZ8ZH51Lvng9fQV2bfKTWypw3PWD.woff2) format('woff2');
}
h1{
    text-shadow: 2px 2px rgb(119, 10, 119);
    font-size: 1000%;
   margin: 0% 0% 0% 0%;
    padding: 0% 3% 2% 0%;
    color: rgb(247, 228, 62);
    font-family: 'The Nautigal', cursive;
    background-color: rgb(217, 172, 222);
    position: relative;
}
body{
    margin: 0% 0% 0% 0%;
    background-color: rgb(242, 223, 246);   
}
html, body{
    min-height: 100%;
    margin: auto;
}
a:hover{
  color: rgb(119, 10, 119);
}
ul.h{
  position: relative;
  top: -5px;
  display: flex;
  justify-content: stretch;
list-style-type: none;

}
#link{
  color:rgb(119, 10, 119) ;
}
#link:hover{
  color:rgb(241, 76, 241) ;
  
}
nav ul li {
   margin-right: 0.4%;
    padding: 0.1% 0.1%;
     margin-left: 0.5%;
    margin-top: -3.2%;
    margin-bottom: 1%;
    background-color: #fff6;
   display: flex;
   justify-content: space-around;
    text-align: center;
    position: relative;
    
  }
  ul a {  
    color: rgb(234, 0, 255);
    text-decoration: none;
   font-size: 20px;
   font-family:'The Nautigal', cursive;
  }
  #icone{
    position: fixed;
    top: 130px;
    left: 970px;
  }
  #nome{
    text-shadow: 2px 2px rgb(119, 10, 119);
   font-family: 'The Nautigal', cursive;
   color:rgb(234, 0, 255);
    font-size: 125px;
    text-align: center;
    margin: 0%;
    padding-right: 0% ;
    padding-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
   text-decoration: underline 4px;
  }
  #nome2{
    font-family: 'The Nautigal', cursive;
    color:rgb(232, 0, 253);
     font-size: 100px;
     text-align: justify;
     padding-left: 5% ;
     padding-top: 0%;
     padding-bottom: 0%;
 margin: 0%;
 text-decoration: underline 5px;
   }
  p{
    font-family:'The Nautigal', cursive;
    text-align: justify;
    font-size: 23px;
    margin: 1.5% 5% 0% 5%;
  }
  #leticia{
    background-color: rgb(245, 205, 233);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    margin-bottom: 0%;
    margin-top: 2%;
    border:rgb(232, 0, 253) solid 2px;
  }
#hilary{
    background-color: rgb(245, 205, 233);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    margin-bottom: 0%;
    margin-top: 2%;
    border:rgb(232, 0, 253) solid 2px;
    position: relative;
  }
#um{
 float: left;
 border-radius: 10px;
 height: 200px;
 width: 200px;
 margin-left: 2%;
 margin-right: 2%;
 margin-top: 2%;
 margin-bottom: 0%;
 border:rgb(180, 27, 194) solid 3px;
}
#dois{
  float: right;
 border-radius: 10px;
 height: 200px;
 width: 200px;
 margin-left: 2%;
 margin-right: 2%;
 margin-top: 2%;
 margin-bottom: 0%;
 border: rgb(180, 27, 194) solid 3px;
}
#tres{
  float: left;
 border-radius: 10px;
 height: 200px;
 width: 250px;
 margin-left: 5%;
 margin-right: 1%;
 margin-bottom: 0%;
 margin-top: 1%;}
#quatro{
  float: right;
 border-radius: 10px;
 height: 270px;
 width: 400px;
 margin-left: 2%;
 margin-right: 2%;
 margin-bottom: 0%;
 margin-top: 0%;
 border:rgb(180, 27, 194) solid 3px;
}
#seta{
  background-color:  #fff6;
  font-size: 30px;
  border-radius: 10px;
  padding-left: 1%;
  padding-right: 1%;
 color: rgb(119, 10, 119) ;
}
#seta:hover{
  color:rgb(232, 0, 253);
}
#perfil2{
  float: left;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-left: 0%;
  margin-right: 5%;
  margin-top: -2%;
  margin-bottom: -2%;
  border:rgb(232, 0, 253) solid 2px;
}
#perfil1{
  float: right;
  border-radius: 50%;
  height: 250px;
  width: 260px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0%;
  margin-top: 0%;
  border:rgb(232, 0, 253) solid 2px;
}
#principal{
  background-color: rgb(245, 205, 233);
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  margin-bottom: 0%;
  margin-top: 0%;
  border:rgb(232, 0, 253) solid 2px;
}
#cinco{
  float: left;
  border-radius: 10px;
  height: 270px;
  width: 400px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0%;
  margin-top: 0%;
  border:rgb(180, 27, 194) solid 3px;
}
